.bgrow {
  max-width: 100%;
  max-height: 100%;
  /* padding-top: 45px;
  margin-top: 65px; */
}

.white {
  max-width: 100%;
  max-height: 100%;
  margin-top: 65px;
}

.imgteam {
  position: absolute;
  z-index: -1;
}

.facilicard {
  border-radius: 20px !important;
}

.facilidimg {
  border-radius: 20px;
}

.imgcard {
  border-radius: 10px;
  height: 100%;
}

.divteam {
  margin-top: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.falinkedin {
  background: #007bb5;
  color: white;
  width: 38px;
  height: 32px;
}

.fafacebook {
  background: #3b5998;
  color: white;
  width: 54px;
  height: 50px;
}

.fatwitter {
  background: #55acee;
  color: white;
  width: 54px;
  height: 50px;
  padding: 2px;
}

.borderradius {
  border-radius: 10px;
}

.carouselind {
  bottom: -58px;
}

.carouselind li {
  background-color: #155b2e !important;
}

.bookimg {
  width: 20%;
  left: 90px;
  position: relative;
}

.sportimg {
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  position: relative;
  width: 60%;
}

.hoverCircle {
  width: 100%;
  z-index: -1;
}

.dasheddiv {
  border: 4px dashed;
  color: #155b2e;
  position: absolute;
  width: 85%;
  height: 100%;
  top: -10% !important;
  right: 7%;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  display: block;
}

.dashimg {
  position: absolute;
  width: 36%;
  left: 70px;
  margin-top: 40px;
  z-index: 1;
}

.cardleftoffer {
  margin-top: -42px;
  margin-bottom: 30px;
  border: none;
}

.cardright {
}

.cardrightoffer {
  margin-top: -50px;
  margin-bottom: 30px;
  border: none;
}

.divouter {
  border: 4px dashed;
  padding: 8px;
  border-radius: 50%;
  margin: 0px;
  position: relative;
  height: auto;
  width: 600px !important;
  height: 600px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desig {
  height: 36px !important;
}

.quali {
  height: 30px !important;
}

.curriculumType {
}

.curriculumCardImage {
  border-radius: 15px;
  top: -10px;
  position: relative;
}

.curriculumCardBody {
}

@keyframes orbit-shadow {
  0% {
    transform: scale(1);
    box-shadow: inset 0px 50px 250px #ea760b;
  }

  25% {
    transform: scale(1.009);
    box-shadow: inset 30px 50px 350px #ea760b;
  }

  50% {
    box-shadow: inset 50px 50px 450px #ea760b;
  }

  75% {
    box-shadow: inset 50px 50px 550px #ea760b;
  }

  1000% {
    box-shadow: inset 50px 50px 750px #ea760b;
  }
}

.divblank {
  height: 12%;
}

.cardbtn {
  padding: 10px 0;
  border-radius: 20px;
  color: #235055;
  border: 1px solid #f39f8b;
  display: block;
}

.cardbtn:hover {
  color: #fff;
  border: 1px solid #ea760b;
  background-color: #ea760b;
  text-decoration: none;
}

.cardbtndps {
  border-radius: 20px;
  color: #235055;
  border: 1px solid #f39f8b;
  display: block;
  padding: 10px 0;
}

.cardbtndps:hover {
  color: #fff;
  border: 1px solid #ea760b;
  background-color: #ea760b;
  text-decoration: none;
}

.divoutercampus {
  border-radius: 20px;
}

.divouteroffer {
  background-color: #e38c3e;
  border-radius: 20px;
}

.campusouter {
  padding-left: 30px;
  padding-right: 30px;
}

.cardcampus {
  height: 100%;
}

.teimgexsm {
  width: 15%;
}

.divouter span {
  position: absolute;
  animation: animate 2s linear infinite;
  border-radius: 50%;
}

.divouter span:nth-child(1) {
  animation-delay: 0s;
}

.divouter span:nth-child(2) {
  animation-delay: 1s;
}

.divouter span:nth-child(3) {
  animation-delay: 2s;
}

@keyframes animate {
  0% {
    width: 0%;
    height: 0%;
    opacity: 1.8;
    box-shadow: inset 0 0 20px #ea760b;
  }

  100% {
    width: 600px;
    height: 600px;
    opacity: 0;
    box-shadow: inset 0 0 130px #ea760b;
  }
}

.btn_facebook {
  background-color: #3b5998;
  color: white;
  padding: 10px 19px 10px 19px;
  border-radius: 9px;
}

.btn_twitter {
  background-color: #55acee;
  color: white;
  padding: 10px 17px 10px 17px;
  border-radius: 9px;
}

.btn_linkdin {
  background-color: #007bb6;
  color: white;
  padding: 6px 12px 7px 12px;
  border-radius: 9px;
  height: 42px !important;
  display: none;
}

.btn_facebook:hover {
  background-color: #37579c;
  color: white;
  padding: 10px 19px 10px 19px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey, 0 0 5px black;
}

.btn_twitter:hover {
  background-color: #53a3e0;
  color: white;
  padding: 10px 17px 10px 17px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey, 0 0 5px black;
}

.btn_linkdin:hover {
  background-color: #0377ad;
  color: white;
  padding: 6px 12px 7px 12px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey, 0 0 5px black;
}

.pera {
  height: 180px !important;
}

.campusright {
  margin-bottom: 0px !important;
}

.branchesContainer {
  position: relative;
  overflow: hidden;
  /* top: -60px; */
}

@media only screen and (min-width: 1447px) {
  .desig {
    font-size: 16px !important;
    height: 44px !important;
  }

  .quali {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 1350px) {
  .divouter {
    width: 500px !important;
    height: 500px !important;
  }

  .cardright {
  }

  .sportimg {
    width: 70%;
  }

  .customGif {
    width: 140%;
    z-index: -1;
  }
}

@media only screen and (max-width: 1080px) {
  .divouter {
    width: 450px !important;
    height: 450px !important;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .cardright {
    width: 100%;
  }

  .sportimg {
    width: 90%;
  }

  .customGif {
    width: 140%;
    z-index: -1;
  }
}

@media only screen and (max-width: 900px) {
  .divouter {
    width: 350px !important;
    height: 350px !important;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  .cardright {
    width: 100%;
  }

  .sportimg {
    width: 90%;
  }

  .customGif {
    width: 140%;
    z-index: -1;
  }
}

@media only screen and (max-width: 767px) {
  .divouter {
    width: 80vw !important;
    height: 80vw !important;
  }

  .cardright {
    width: 75%;
  }

  .sportimg {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .divouter {
    width: 85vw !important;
    height: 85vw !important;
    margin-top: 6rem;
  }

  .cardright {
    width: 90%;
  }

  .sportimg {
    width: 80%;
  }

  .customGif {
    width: 165%;
    z-index: -1;
  }
}

@media only screen and (max-width: 500px) {
  .divouter {
    width: 95vw !important;
    height: 95vw !important;
    margin-top: 7rem;
  }

  .cardright {
    width: 95%;
  }

  .sportimg {
    width: 80%;
  }

  .customGif {
    width: 165%;
    z-index: -1;
  }
}

@media only screen and (max-width: 560px) {
  .cardleft {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .cardright {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    width: 80%;
  }

  .cardrightoffer {
    margin-top: -15px;
  }
}

@media only screen and (max-width: 770px) {
  .cardbtn {
    padding-left: 35px;
    padding-right: 35px;
  }

  .campusouter {
    padding-left: 75px;
    padding-right: 75px;
  }

  .cardbtndps {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.logoimg {
  height: 105px !important;
}

@media only screen and (max-width: 470px) {
  .campusouter {
    padding-left: 15px;
    padding-right: 15px;
  }

  .divblank {
    height: 5%;
  }

  .cardbtndps {
    padding-left: 47px !important;
    padding-right: 47px;
  }

  .logoimg {
    height: auto !important;
  }

  .divoutercampus {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .dasheddiv {
    border: 4px dashed;
    color: #155b2e;
    position: absolute;
    width: 85%;
    height: 100%;
    top: -10% !important;
    right: 7%;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    display: none;
  }
  .cardbtn {
    padding-left: 10px;
    padding-right: 10px;
  }
  .academicscard {
    border-radius: 15px;
  }
}

.magleftnigative {
  margin-left: -19px;
}

@media (min-width: 930px) and (max-width: 1200px) {
  .dasheddiv {
    top: -5% !important;
  }

  .pera {
    height: 340px !important;
  }
}

@media (min-width: 770px) and (max-width: 928px) {
  .dasheddiv {
    top: -5% !important;
  }

  .pera {
    height: 135px !important;
  }
}

@media (min-width: 560px) and (max-width: 769px) {
  .pera {
    height: 290px !important;
  }
}

@media (min-width: 460px) and (max-width: 559px) {
  .pera {
    height: 130px !important;
  }
}

@media (min-width: 360px) and (max-width: 460px) {
  .pera {
    height: 280px !important;
  }
}

@media (min-width: 1440px) and (max-width: 1920px) {
  .bgrow {
    /* margin-top: 100px; */
  }
}
